// test#homeのCSSはこちらに記載してください

.test-wrapper {
  height: calc(100vh - 56px - 56px);
  padding: 0 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-img-top {
  width: 100px;
  margin: 0 auto;
}

.card-body {
  text-align: center;
}

.list-group {
  width: 500px;
}