<link rel="stylesheet" href="/assets/task/index.scss">

<%= link_to '新規タスク', '#', class: "btn btn-primary" %>
<div class="task-wrap">
  <div class="list-group">
    <ul>
      <% @tasks.each do |task| %>
       <li><%= task.content %></li>
      <% end %>
    </ul>
  </div>
</div>