<link rel="stylesheet" href="/assets/home/test.scss">

<div class="test-wrapper">
  <div class="card" style="width: 18rem;">
    <img src="assets/item.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">カードも作れます</h5>
      <p class="card-text">Bootstrapすごい</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item active"><%= "ようこそ！ #{current_user.name}さん！"%></li>
    <li class="list-group-item">ここはテストページです</li>
    <li class="list-group-item"><span class="text-danger">Bootstrap</span>を好きに使ってください <i class="fab fa-apple text-danger"></i></li>
    <li class="list-group-item text-warning">色を変えたりして楽しめます</li>
    <li class="list-group-item">Font Awesomeも楽しいですよ<i class="fab fa-angellist"></i></li>
  </ul>
</div>