<link rel="stylesheet" href="/assets/home/test.scss">

<div class="container" style="height: calc(100vh - 56px - 56px); background-color: lightskyblue;">
  <h2>< 576px で縦並び</h2>
  <h2>≧ 576px で幅半分</h2>
  <div class="row pb-5">
    <div class="col-sm-6 btn btn-danger">col-sm-6</div>
    <div class="col-sm-6 btn btn-secondary">col-sm-6</div>
  </div>
  <h2>< 768px で縦並び</h2>
  <h2>≧ 768px で幅比1:3:2</h2>
  <div class="row pb-5">
    <div class="col-md-2 btn btn-danger">col-sm-2</div>
    <div class="col-md-6 btn btn-secondary">col-sm-6</div>
    <div class="col-md-4 btn btn-primary">col-sm-4</div>
  </div>
</div>