<% if user_signed_in? %>
  <%= render 'tasks/index' %>
<% else %>
  <link href="/assets/home/top.scss" rel="stylesheet">
  <div class="text-center">
    <h1><%= link_to "Sign in!", new_user_session_path %></h1>
  </div>
<% end %>

