<link href="/assets/home/top.scss" rel="stylesheet">
<div class="text-center">
  <% if user_signed_in? %>    
    <h1>Hello! <%= current_user.name %></h1>
  <% else %>
    <h1>Sign in!</h1>
  <% end %>
</div>

